:root{
  --clr-primary: hsl(213, 74%, 24%);
  --clr-primary-light: hsl(213, 84%, 95%);
  --clr-alt-light: hsl(227, 60%, 97%);

  --ff-primary: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body, h1, h2, h3, p {
  margin: 0;
}
body{
  background-color: var(--clr-primary-light);
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.6;
  position: relative;
  padding-bottom: 5rem;
  min-height: 100vh;
}
header{
  background-color: var(--clr-primary);
  color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
}
.text-center{
  text-align: center;
}
div.logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-logo{
  color: white;
}
.container{
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
span.icon{
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background: url(./assets/exclamation-mark.svg);
  margin: 0 0.5rem;
}
.btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  border: solid 1px #0A3871;
  color: #0A3871;
  margin: 10px;
  padding: 15px;
  border-radius: 1rem;
  width: 70%;
  height: 3rem;
}
textarea {
  background-color: var(--clr-primary-light);
  text-align: center;
  font-size: 2rem;
  resize: none;
  width: 100%;
}
::placeholder{
  color: #0A3871;
}
.footer {
  background-color: lightgrey;
  border-top: solid 1px black;
  padding: 2px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* @media screen and (min-width:700px){
  body{
    background-color: red;
  }
} */